[run]
source = pychroot
branch = True
omit = */_verinfo.py

[paths]
source =
	src/pychroot
	.tox/*/lib/python*/site-packages/pychroot
	.tox/pypy*/site-packages/pychroot

[report]
show_missing = True
skip_covered = True
exclude_lines =
	# re-enable the standard pragma
	pragma: no cover

	# ignore defensive assertions
	raise AssertionError
	raise NotImplementedError

	# ignore unexecutable code
	if __name__ == .__main__.:
